/******** Globals ********/
$img_logo : "../../img/logo.png";
$main_font: "Marker Felt";
//Palleta de cores
$primary:          rgb(18, 108, 115);
$secondary:        #E73A77;

$fontPrimary: 'Marker Felt';
