.box {
  float: left;
  width: 20%;
  height: 200px;
  background-color: white;
  margin-top: 5%;
  margin-left: 3%;
  margin-right: 2%;
  border-radius: 9px;
  box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 3px 0 rgba(63, 63, 68, 0.15); }
  @media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
    .box {
      width: 70%;
      height: 220px;
      margin-top: 10%;
      margin-left: 15%; } }
  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
    .box {
      width: 70%;
      height: 220px;
      margin-top: 10%;
      margin-left: 15%; } }
  @media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
    .box {
      width: 70%;
      height: 220px;
      margin-top: 10%;
      margin-left: 15%; } }
  @media only screen and (min-device-width: 736px) and (max-device-width: 768px) {
    .box {
      width: 30%;
      height: 290px;
      margin-top: 2%;
      margin-left: 1%; } }
  @media only screen and (min-device-width: 770px) and (max-device-width: 1024px) {
    .box {
      width: 25%;
      height: 290px;
      margin-top: 2%;
      margin-left: 5%; } }
  @media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
    .box {
      width: 70%;
      height: 220px;
      margin-top: 10%;
      margin-left: 15%; } }

.gameStart {
  margin-top: 40px;
  align-items: center;
  align-content: center;
  text-align: center; }
