/******** Globals ********/
.content_game {
  width: 100%;
  height: auto;
  background: #fafafa;
  position: absolute; }

.header {
  width: 100%;
  height: 80px;
  position: fixed;
  display: flex;
  z-index: 9; }

.div_pagination {
  width: 100%;
  display: flex;
  height: 100px;
  align-items: center;
  text-align: center;
  justify-content: center; }

.div_loader {
  width: 100%;
  display: flex;
  height: 100px;
  align-items: center;
  text-align: center;
  justify-content: center; }

.title_header {
  width: 75%;
  height: 100%;
  background-color: white;
  box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 3px 0 rgba(63, 63, 68, 0.15); }

.container_timer {
  box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 3px 0 rgba(63, 63, 68, 0.15);
  width: 25%;
  height: 100%;
  text-align: center;
  align-items: center;
  display: flex; }

.img_logo {
  margin: 15px;
  width: 25%; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
    .img_logo {
      margin: 20px;
      width: 60%; } }
  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
    .img_logo {
      margin: 20px;
      width: 60%; } }
  @media only screen and (min-device-width: 736px) and (max-device-width: 768px) {
    .img_logo {
      margin: 20px;
      width: 40%; } }
  @media only screen and (min-device-width: 770px) and (max-device-width: 1024px) {
    .img_logo {
      margin: 20px;
      width: 20%; } }
  @media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
    .img_logo {
      margin: 20px;
      width: 60%; } }
  @media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
    .img_logo {
      margin: 20px;
      width: 60%; } }

.container_boxes {
  padding-top: 7%;
  overflow: auto; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
    .container_boxes {
      padding-top: 15%; } }
  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
    .container_boxes {
      padding-top: 15%; } }
  @media only screen and (min-device-width: 736px) and (max-device-width: 768px) {
    .container_boxes {
      padding-top: 20%; } }
  @media only screen and (min-device-width: 770px) and (max-device-width: 1024px) {
    .container_boxes {
      padding-top: 20%; } }
  @media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
    .container_boxes {
      padding-top: 15%; } }
  @media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
    .container_boxes {
      padding-top: 15%; } }

body {
  margin: 0px; }
