/* SMALL LOADING */
.internalLoadingContainer {
  position: relative;
  overflow: hidden !important;
  min-height: 160px; }

.loadingHolder {
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 90; }
  .loadingHolder.savingStatus {
    background: #fff;
    color: darkblue;
    font-size: 14px;
    width: 190px;
    height: 180px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0 0px 50px rgba(83, 150, 113, 0.15); }
    .loadingHolder.savingStatus .smallLoading {
      bottom: auto;
      top: 24%; }
    .loadingHolder.savingStatus .loadingText {
      display: block;
      position: absolute;
      bottom: auto;
      left: 0;
      top: 68%;
      text-align: center;
      right: 0;
      font-size: 14px;
      font-weight: 500;
      padding: 0 15px; }

.heartRate {
  margin: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  z-index: 95;
  width: 30px;
  height: 30px;
  transform: scale(1);
  overflow: hidden; }

.heartRate svg {
  width: 100%;
  height: 100%; }

.heartRateFadeIn,
.heartRateFadeOut {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 96; }

.heartRateFadeIn {
  width: 100%;
  background-color: #fff;
  right: 0;
  animation: heartRateIn 1.5s linear infinite; }

.heartRateFadeOut {
  width: 120%;
  left: -120%;
  animation: heartRateOut 1.5s linear infinite;
  background: #fff;
  background: linear-gradient(to right, white 0, white 80%, rgba(255, 255, 255, 0) 100%); }

.smallLoading {
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: 3px solid #26363E;
  margin: auto;
  position: absolute;
  z-index: 95;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden; }

.bigLoading {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 3px solid #26363E;
  margin: auto;
  position: relative; }
  .bigLoading .logo {
    width: 140px;
    height: 28px;
    position: absolute;
    bottom: -42px;
    left: -32px;
    right: 0;
    margin: auto; }
  .bigLoading .heartRate {
    width: 45px;
    height: 45px; }

#loadingPage {
  background-color: #fff;
  top: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; }

@keyframes heartRateIn {
  0% {
    width: 100%; }
  100%, 50% {
    width: 0; } }

@keyframes heartRateOut {
  0%, 30% {
    left: -120%; }
  100% {
    left: 0; } }
